section
  md-subheader.md-primary 
    span.md-subheader-content Mes projets

  md-list( layout="column" )
    md-item( 
      ng-repeat="project in Project.projects"
      ui-sref="main.projects.detail.new({ projectId: project.id })"
      style="position: relative"
      md-ink-ripple
    )
      md-item-content
        div.md-tile-content
          h3 {{ project.town.readable_name }}
          h4 sous titre
          p Contenu de l'annonce, contenu de l'annonce
      md-divider

md-button.action-button.md-warn.md-fab( ui-sref="main.projects.new")
  span.fa.fa-plus
