/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include lumx LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

//@import 'lumx.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import 'angular-material.less';
@import 'animations.less';
@import 'themes/deep-purple-theme.less';
@import 'themes/cyan-theme.less';
@import '../app/home/home.less';

.pacifico {
  font-family: 'Pacifico', 'Roboto', sans;
}

html, body {
  background-color: white;
  height: 100%;
  width: 100%;
}

[ng-click] {
  cursor: pointer;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-leave,
[ui-view].ng-enter {
   -webkit-transition:all 1.2s ease-in-out;
      -moz-transition:all 1.2s ease-in-out;
        -o-transition:all 1.2s ease-in-out;
           transition:all 1.2s ease-in-out;
  position: absolute;
  top: 64px;
  bottom: 100px;
  left: 0;
  right: 0;
}

[ui-view].ng-leave {
  z-index: 1;
}

[ui-view].ng-enter {
  z-index: 2;
  &:extend( .appearRight );
}

