<div style="height: 30%">
  <ui-gmap-google-map 
    control="map.control"
    center='map.center' 
    zoom='map.zoom' 
    ng-click="FieldDetail.fieldIsOpen = !FieldDetail.fieldIsOpen; resizeMap()">
    <ui-gmap-markers
      models="cities"
      icon="'icon'"
      click="markerClick"
      coords="'self'">
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>

<h2 class="md-primary md-subheader md-default-theme" sticky-state="next" ng-click="back()">
  <span class="md-subheader-content">
    <span class="fa fa-chevron-left"></span> retour 
  </span>
</h2>


<md-content flex style="width: 100%">
  <div class="md-tile-content" style="padding: 0px 20px">
    <h3>Terarin des bruies sur Batignoles</h3>
    <h4>Tagada tsouin tsouin</h4>
    <p>E tque je t'en colle des tartines</p>
  </div>
</md-content>
