/* sass file for projetDetail*/


.display-when-sup-leaves {
  display: none;
}

md-item.ng-leave + md-item .display-when-sup-leaves {
  display: block;
}

md-item.ng-leave .hidden-on-leave {
  display: none;
}



