<md-dialog class="md-content-overflow" style="min-height: 50%; min-width: 50%">
  <md-content flex style="height: 100%; padding: 0">
    <md-toolbar>
    <h3 class="md-toolbar-tools">
      Trouver des terrains
    </h3>
    </md-toolbar>
    <md-subheader md-primary>
      Sélectionnez vos critères de recherche
    </md-subheader>
    <md-list>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <div class="md-tile-content">
            <h3>Temps de trajet:</h3>
            <div ion-range-slider="" range-options="options" class="ng-isolate-scope" value="1388;5000" style="display: none;"></div>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
    </md-content>
  <div class="md-actions">
    <md-button class="text-muted" ng-click="cancel()" aria-control="cancel">annuler</md-button>
    <md-button class="md-primary" ng-click="hide()" aria-control="validate">voir les terrains</md-button>
  </div>
</md-dialog>
