<div style="height: 8px"></div>
<h4 class="padding-max md-toolbar-tools text-deep-purple">Choisissez vos critères de recherche</h4>
<hr/>
<md-list>
  <md-item>
    <md-item-content>
      <div class="md-tile-content padding-max">
        <h5 class="text-deep-purple">Temps de trajet :</h5>
        <div class="irs-wrapper">
          <div ion-range-slider="" range-options="timeOptions" class="ng-isolate-scope" value="1388;5000" style="display: none;"></div>
        </div>
      </div>
    </md-item-content>
  </md-item>
  <md-divider></md-divider>
  <md-item class="md-padding">
    <md-item-content>
      <div class="md-tile-content padding-max">
        <h5 class="text-deep-purple">Surface du terrain :</h5>
        <div class="irs-wrapper">
          <div ion-range-slider="" range-options="surfaceOptions" class="ng-isolate-scope" value="1388;5000" style="display: none;"></div>
        </div>
      </div>
    </md-item-content>
  </md-item>
  <md-divider></md-divider>
  <md-item>
    <md-item-content>
      <div class="md-tile-content padding-max">
        <h5 class="text-deep-purple">Autres options :</h5>
        <md-switch ng-model="FiltersService.includeArchived" aria-label="Switch 1">
           Inclure les terrains archivés 
        </md-switch>
        <md-switch ng-model="FiltersService.includeInactive" aria-label="Switch 1">
           Inclure les annonces retirées 
        </md-switch>
      </div>
    </md-item-content>
    <md-divider></md-divider>
  </md-item>
</md-list>
<div class="md-actions" layout="row" layout-align="end" style="margin-top: 30px">
  <div class="padding-max" style="margin-bottom: 40px">
    <md-button class="md-primary md-pink-theme md-raised" ng-click="search()" aria-control="validate">voir les terrains</md-button>
</div>
</div><!-- md-actions -->
