.angular-google-map-container,
.angular-google-map { 
  height: 100%; 
  width: 100%;
}

@media (max-width: 1024px) {
  .hidden-xs {
    display: none;
  }
}

.map-container {
  @extend .hidden-xs;
  height: 100%;
  width: 100%;
  padding-top: 64px;
  padding-right: 438px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.cities-container {
  width: 438px;
  @media (max-width: 1024px) {
    width: 100%;
  }
  position: absolute;
  right: 0px;
  top: 64px;
  @media (max-width: 1024px) {
    top: 56px;
  }
  height: calc(100% - 64px);

  & .cities-card {
    height: calc( 100% - 229px );
    @media (max-width: 1024px) {
      height: calc( 100% - 221px );
    }
    position: relative;
    overflow: auto;
    & .card_content,
    & .data_table_container {
      position: relative;
      height: 100%;
      & .results-table {
        height: calc( 100% - 64px );
        @media (max-width: 1024px) {
          height: calc( 100% - 56px );
        }
        position: relative;
        overflow: auto !important;
      }
    }
  }
}

.card, .card-top {
  border-radius: 0;
}

tr.active {
  @extend .tc-light-blue-500;
  & .list-content-tile.list-content-tile--two-lines > strong + span {
    @extend .tc-light-blue-400;
  }

}

th {
  border-bottom: 0px !important;
}

.gm-style-mtc {
  bottom: 50px;
  right: 50px;
  z-index: 2;
}
