<div class="card bgc-deep-purple-600 tc-white-1"
  style="z-index: 10000; position: relative; border-radius: 0">
  <div class="toolbar" style="margin-left: 30px; margin-right: 30px">
    <div class="toolbar__left">
      <img src="front_assets/svg/tree.svg" onerror="this.src='front_assets/img/tree.png'" style="height: 40px; color: white; stroke: white;">
    </div>
    <span class="toolbar__label fs-title" style="margin-left: 10px">
      <span class="pacifico">Sortir de Paris</span>
      <span class="tc-deep-purple-100 fs-subhead pacifico" style="margin-left: 10px"> par Woodstack</span>
    </span>
  </div>
</div>

<div class="map-container">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-markers
  models="cities"
  icon="'icon'"
  click="markerClick"
  coords="'self'">
  </ui-gmap-markers>
  </ui-gmap-google-map>
</div>

<div class="cities-container">
  <div class="card time-card">
    <div class="card__top bgc-light-blue-500 clearfix" style="padding-bottom: 20px; padding-top: 20px;">
      <span class="tc-white-1">
        <span class="pacifico" lx-ripple lx-tooltip="Faites glisser le curseur" tooltip-position="right">
          Temps de trajet
        </span>
      </span>
    </div>
    <div class="card_content">
      <div style="padding: 30px 30px 30px 30px">
        <div ion-range-slider="" range-options="options" class="ng-isolate-scope" value="1388;5000" style="display: none;"></div>
      </div>
    </div>
    <div class="data-table-container">
      <table class="data-table data-table--has-primary data-table--has-secondary">
        <thead class="bgc-light-blue-500 tc-white-1">
          <tr>
            <th lx-ripple lx-tooltip="Temps de trajet en voiture" tooltip-position="right">
              <strong>
                <i class="mdi mdi--access-time"></i>
              </strong>
            </th>
            <th><span class="pacifico">Municipalité</span></th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="card cities-card">
    <div class="card_content">
      <div class="data-table-container">

        <div class="results-table">
          <table class="data-table data-table--has-primary data-table--has-secondary">

            <tbody>
              <tr class="data-table__clickable-row" ng-repeat="city in cities" id="{{city.id}}" ng-click="selectCity(city)" ng-class="{'active': active.city.id == city.id}">
                <td class="time-td">
                  <div class="list-content-tile list-content-tile--two-lines">
                    <strong>{{ city.car_travel_time_value | timeFilter }}</strong>
                    <span style="opacity: 0">_</span>
                  </div>
                </td>
                <td colspan="2">
                  <div class="list-content-tile list-content-tile--two-lines">
                    <strong>{{ city.readable_name }}</strong>
                    <span>{{ city.population }} habitants</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- results table -->
      </div>
    </div>
  </div>
</div>
