.angular-google-map-container,
.angular-google-map,
.full-flex { 
  height: 100%; 
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field-detail {
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 100;
  /*
  &.open {
    &:extend( .appearBottom );
  }
  &.closed {
    &:extend( .disappearBottom );
  }
  */
}

/*
==============================================
disappearBottom
==============================================
*/

.disappearBottom{
  animation-name: disappearBottom;
  -webkit-animation-name: disappearBottom; 

  animation-duration: 0.4s; 
  -webkit-animation-duration: 0.4s;

  animation-timing-function: cubic-bezier(.73,.01,1,.65);  
  -webkit-animation-timing-function: cubic-bezier(.73,.01,1,.65);  

}

@keyframes disappearBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@-webkit-keyframes disappearBottom {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
  }   
}

/*
==============================================
appearBottom
==============================================
*/

.appearBottom{
  animation-name: appearBottom;
  -webkit-animation-name: appearBottom; 

  animation-duration: 0.4s; 
  -webkit-animation-duration: 0.4s;

  animation-timing-function: cubic-bezier(.18,.87,.17,.99);  
  -webkit-animation-timing-function: cubic-bezier(.18,.87,.17,.99);  

}

@keyframes appearBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes appearBottom {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }   
}
